* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
}
.nav_container {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  /* height: 100px; */
  overflow: hidden;
}
.touraza {
  display: flex;
  justify-content: start;
  align-items: center;
  width: 33%;
  margin-left: 5%;
}
.logo-img {
  height: auto;
  width: 30%;
  padding-top: 12px;
  padding-left: 12px;
}
.logo-name {
  font-style: italic;
  font-size: 40px;
  margin: 5px;
}
.navbar {
  display: flex;
  width: 33%;
}
.navbar a {
  text-align: center;
  text-decoration: none;
  font-size: 1.3em;
  color: #fd5311;
}
.navbar a:hover {
  color: #1d2a3a;
}
.navbar ul {
  display: flex;
  justify-content: start;
  align-items: flex-start;
  margin-top: 20px;
  margin: 0;
  list-style-type: none;
  padding: 0;
}
.navbar ul li {
  padding: 5px;
  margin-right: 5px;
}
.navbar ul li:hover {
  cursor: pointer;
  color: #1d2a3a;
}

.nav-buttons {
  display: flex;
  width: 33%;
  justify-content: center;
}
.btn {
  margin: 5px;
  background-color: #fd5311;
  color: black;
  border: 1px solid #fd5311;
  padding: 8px;
  border-radius: 4px;
  transition: all;
  transition-duration: 0.2s;
  transition-timing-function: ease-in;
}
.btn-link{
  text-decoration: none;
  color: black;
}
.btn:hover {
  background-color: white;
  cursor: pointer;
}
@media all and (max-width: 1003px) {
  .nav-buttons {
    display: none;
  }
}
@media all and (max-width: 820px) {
  .nav_container {
    flex-direction: column;
    justify-content: center;
  }
  .navbar {
    /* margin: 0; */
    justify-content: center;
    /* width: 100%;
       align-items: center;
     */
  }
  .touraza {
    width: 70%;
    justify-content: center;
    margin: 0;
  }
  .navbar ul li {
    padding: 1px;
   
    /* align-self:center; */
  }
  .logo-img {
    margin: 0;
    height: 100%;
  }
  .logo-name {
    margin: 12px 0 0;
  }
}
.mid-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 7px;
  width: 100%;
}
.explore-world {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  font-size: 3em;
  padding: 15px;
  font-family: Arial, Helvetica, sans-serif;
  /* padding-left: 35px; */
  line-height: 78px;
}
.World {
  color: #fd5311;
}
.booknow {
  padding: 10px;
  width: 100%;
  background-color: #fd5311;
  border: 1px solid#FD5311;
  border-radius: 4px;
  transition-duration: 0.2s;
  transition-timing-function: ease-in;
}
.booknow:hover {
  background-color: white;
  cursor: pointer;
}
.pics {
  /* display: flex; */
  padding: 7px;
}
.pic-1 {
  margin: 5px;
  border-radius: 12px;
  height: 420px;
  width: 250px;
}
.pic-1:hover {
  transform: scale(1.02);
  cursor: pointer;
}
@media all and (max-width: 1139px) {
  .pic3 {
    display: none;
  }
}
@media all and (max-width: 821px) {
  .pic2 {
    display: none;
  }
  .footer-logo-img {
    margin: 10px;
    width: 80%;
  }

  .footer-logo-img img {
    width: 60px;
  }
  .second_mid_container {
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 80px;
    margin-bottom: 20px;
  }
  .img_container {
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
  }
}
@media all and (max-width: 460px) {
  .explore-world {
    width: 100%;
    justify-content: center;
    align-items: center;
    padding: 0;
  }
}
@media all and (max-width: 465px) {
  .mid-container {
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
}
/* This is a form sector container styling */
.form-sector-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  /* padding-right: 0; */
}
.form {
  padding: 25px;
  justify-content: center;
}
.form-sector-main {
  display: flex;
  justify-content: space-between;
  align-content: center;
  height:1100px;
  border-radius: 8px;
  margin: 120px auto;
  box-shadow: rgba(0, 0, 0, 0.176) 0px 15px 40px 0px;
  width: 70%;
}
#text{
  width: 100%;
  padding: 15px;
  border: none;
  background-color: #e0e0e9;
  text-align: center;
  border-radius: 8px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.9em;
}

.name{
  margin:12px 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.4em;
   color: #fd5311;
  /* margin-bottom: 7px; */
}
.phone{
  margin: 12px 0;
   font-family: Arial, Helvetica, sans-serif;
  font-size: 1.4em;
   color: #fd5311;
}
.destinations{
  margin: 12px 0;
   font-family: Arial, Helvetica, sans-serif;
  font-size: 1.4em;
   color: #fd5311;
}
.label{
   margin: 10px 5px 3px 2px;
   padding: 10px 5px 3px 2px;
    font-family: Arial, Helvetica, sans-serif;
     color: #fd5311;
  font-size: 1.4em;
  /* margin-bottom: 7px; */
}
.submit-btn{
  /* margin-right: 7px;
  margin-left: 7px; */
  margin:70px 0;
  width: 100%;
  padding:15px;
  background-color: #fd5311;
  border-radius: 8px;
  transition: 0.2s ease-in;
  border: none;
}
.submit-btn:hover{
  background-color: white;
  cursor: pointer;
}

.form-img {
  width: 70%;
  padding-right: 0;
  /* height: 100% */
  height: 1100px;
  border-top-right-radius: 7px;
   border-bottom-right-radius: 7px;
}
@media all and (max-width: 1126px){
  .form-sector-main{
justify-content: center;
  }
  .form-img{
    width: 60%;
  }
  .form{
    padding-right: 15px;
  }
}
@media all and (max-width: 912px){
  .form-sector-main{
    width: 80%;
  }
  .form-sector-container{
    justify-content: center;
    align-items: center;
  }
  .form-img{
    display: none;
  }
  .form{
    width: 100%;
  }
  #Additional-Information{
    width: 100%;
  }
}

@media all and (max-width: 352px){
#text{
  font-size: 0.6em;
  padding: 15px 0;
}
.name{
  font-size: 1em;
}
.phone{
  font-size: 1em;
}
.destinations{
  font-size: 1em;
}
.label{
  font-size: 0.9em;
}

}
@media all and (max-width: 305px){
  .name{
  font-size: 0.9em;
}
.phone{
  font-size: 0.9em;
}
.destinations{
  font-size: 0.9em;
}
.label{
  font-size: 0.9em;
}
.form{
  padding: 12px;
}
}

/* This is Footer Styling */
.footer-container {
  display: flex;
  flex-wrap: nowrap;
  padding: 20px;
  width: 100%;
  overflow: hidden;
}
.footer-first-row {
  display: flex;
  width: 25%;
  flex-direction: column;
  margin-left: 5px;
}
.footer-logo-name-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.footer-logo-name {
  margin: 20px;
}
.footer-logo-img {
  margin: 10px;
  width: 100px;
}
.footer-image {
  width: 100px;
}
.footer-details {
  display: flex;
  flex-direction: column;
  margin-top: 0;
  line-height: 10px;
}
.footer-sm-logos {
  display: flex;
  column-gap: 8px;
  font-size: 1.2em;
}
.footer-pages {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 20%;
  line-height: 15px;
  margin-top: 42px;
  font-size: 1.2rem;
}
.footer-places {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 20%;
  line-height: 15px;
  margin-top: 42px;
  font-size: 1.2rem;
  line-height: 22px;
}
.Places {
  word-spacing: 3px;
}
.footer-img-container {
  display: flex;
  width: 32%;
  padding: 30px;
  flex-direction: column;
  align-items: start;
}
.footerimg {
  width: 23%;
  border-radius: 22px;
  margin: 10px;
  height: 70px;
}
.line-break {
  margin: 8px;
}
.copyright {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
}
footer {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 30px;
  background-color: #1d2a3a;
  color: white;
}
@media all and (max-width: 1030px) {
  .footer-img-container {
    display: none;
  }
  .footer-container {
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 10px;
  }
}
.footer-details p {
  line-height: 22px;
}
@media all and (max-width: 440px) {
  .footer-logo-name-container {
    justify-content: space-between;
    width: 100%;
  }
    .footer-places{
    font-size: 12px;
  }
  .footer-pages{
    font-size: 12px;
  }
  .footer-details{
    font-size: 12px;
  }
  p{
    margin-top: 0%;
  }
  .footer-logo-name{
    margin: 0;
  }
}
