* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
}
.nav_container {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  /* height: 100px; */
  overflow: hidden;
}
.touraza {
  display: flex;
  justify-content: start;
  align-items: center;
  width: 33%;
  margin-left: 5%;
}
.logo-img {
  height: auto;
  width: 30%;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 12px;
}
.logo-name {
  font-style: italic;
  font-size: 40px;
  margin: 5px;
}
.navbar {
  display: flex;
  width: 33%;
}
.navbar a {
  text-align: center;
  text-decoration: none;
  font-size: 1.3em;
  color: #fd5311;
}
.navbar a:hover{
  color: #1D2A3A;
}
.navbar ul {
  display: flex;
  justify-content: start;
  align-items: flex-start;
  margin-top: 20px;
  margin: 0;
  list-style-type: none;
  padding: 0;
}
.navbar ul li {
  padding: 5px;
  margin-right: 5px;
}
.navbar ul li:hover{
  cursor: pointer;
  color: #1D2A3A;
}

.nav-buttons {
  display: flex;
  width: 33%;
  justify-content: center;
}
.btn {
  margin: 5px;
  background-color: #fd5311;
  color: black;
  border: 1px solid #fd5311;
  padding: 8px;
  border-radius: 4px;
  transition: all;
  transition-duration: 0.2s;
  transition-timing-function: ease-in;
}
.btn:hover {
  background-color: white;
  cursor: pointer;
}
@media all and (max-width: 1003px) {
  .nav-buttons {
    display: none;
  }
}
@media all and (max-width: 820px) {
  .nav_container {
    flex-direction: column;
    justify-content: center;
  }
  .navbar {
    /* margin: 0; */
    justify-content: center;
    /* width: 100%;
       align-items: center;
     */
  }
  .touraza {
    width: 70%;
    justify-content: center;
    margin: 0;
  }
  .navbar ul li {
    padding: 1px;

    /* align-self:center; */
  }
  .logo-img {
    margin: 0;
    height: 100%;
  }
  .logo-name {
    margin: 12px 0 0;
  }
}
.mid-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 7px;
  width: 100%;
}
.explore-world {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  font-size: 3em;
  padding: 15px;
  font-family: Arial, Helvetica, sans-serif;
  /* padding-left: 35px; */
  line-height: 78px;
}
.World {
  color: #fd5311;
}
.booknow {
  padding: 10px;
  width: 100%;
  background-color: #fd5311;
  border: 1px solid#FD5311;
  border-radius: 4px;
  transition-duration: 0.2s;
  transition-timing-function: ease-in;
}
.booknow:hover {
  background-color: white;
  cursor: pointer;
}
.pics {
  /* display: flex; */
  padding: 7px;
}
.pic-1 {
  margin: 5px;
  border-radius: 12px;
  height: 420px;
  width: 250px;
}
.pic-1:hover {
  transform: scale(1.02);
  cursor: pointer;
}
@media all and (max-width: 1139px) {
  .pic3 {
    display: none;
  }
}
@media all and (max-width: 821px) {
  .pic2 {
    display: none;
  }
  .footer-logo-img {
    margin: 10px;
    width: 80%;
  }

  .footer-logo-img img {
    width: 60px;
  }
  .second_mid_container {
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 80px;
    margin-bottom: 20px;
  }
  .img_container {
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
  }
}
@media all and (max-width: 460px) {
  .explore-world {
    width: 100%;
    justify-content: center;
    align-items: center;
    padding: 0;
  }
}
@media all and (max-width: 465px) {
  .mid-container {
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
}
.second_mid_container {
  display: flex;
  margin: 80px 10px auto auto;
  justify-content: space-evenly;
  width: 100%;
}
.mid-sec-cards-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 120px auto;
}
.destination-heading{
  color: #fd5311;
  font-style: italic;
  font-size: 2.3em;
}
.mid-sec-cards-row-1{
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 25px;
    margin-top: 40px;
    flex-wrap: nowrap;
}
.main-imgs{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 8px;
    transition: all;
    box-shadow: rgba(0, 0, 0, 0.176) 0px 15px 40px 0px;
    width: 300px;
   
}
.main-imgs:hover{
  transform: scale(1.02);
  cursor: pointer;
}
.imging-1{
    height: 200px;
    width: 100%;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}
.mid-sec-card-1 {
    display: flex;
    flex-direction: column;
}
.mid-sec-cards-row-2{
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 25px;
    margin-top: 40px;
    flex-wrap: nowrap;
}
.mid-sec-cards-row-3{
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 25px;
    margin-top: 40px;
    flex-wrap: nowrap;
    /* margin-left: 25px; */
   
}
.countries{
  color: #fd5311;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}
@media all and (max-width: 1300px){
  .mid-sec-cards-container{
    width: 70%;
  }
}
@media all and (max-width: 958px) {
  .main-imgs{
    width: 250px;
  }
}
@media all and (max-width: 870px) {
  .main-imgs{
    width: 220px;
  }
}
@media all and (max-width: 850px) {
  .mid-sec-cards-row-1{
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .mid-sec-cards-row-2{
    flex-direction: column;
    margin-top: 0;
  }
  .mid-sec-cards-row-3{
    flex-direction: column;
    margin-left: 0;
    margin-top: 0;
  }
  .main-imgs{
    width: 420px;
   
    margin-bottom: 22px;
   
  }
  .countries{
    text-align: center;
    /* margin-top: 30px; */
  }
}
@media all and (max-width: 485px){
.mid-sec-cards-row-1{
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
.mid-sec-cards-row-2{
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
.mid-sec-cards-row-3{
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
}
@media all and (max-width: 430px) {
.main-imgs{
  width: 370px;
}
}
@media all and (max-width: 357px) {
  .main-imgs{
    width: 90%;
  }
}
@media all and (max-width: 280px){
  .main-imgs{
    width: 90%;
    margin-left: 10px;
  
  }
  .destination-heading{
    margin-left: 15px;
   
  }
  .mid-sec-cards-row-1{
    margin-top: 5px;
    margin-left: auto;
    margin-right: auto;
  }
  .mid-sec-cards-row-2{
    margin-top: 5px;
      margin-left: auto;
    margin-right: auto;
  }
  .mid-sec-cards-row-3{
    margin-top: 5px;
      margin-left: auto;
    margin-right: auto;
  }
  .mid-sec-cards-container{
    margin-left: 15px;
    margin-right: 15px;
  }
}

/* This is Footer Styling */
.footer-container {
  display: flex;
  flex-wrap: nowrap;
  padding: 20px;
  width: 100%;
  overflow: hidden;
}
.footer-first-row {
  display: flex;
  width: 25%;
  flex-direction: column;
  margin-left: 5px;
}
.footer-logo-name-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.footer-logo-name {
  margin: 20px;
}
.footer-logo-img {
  margin: 10px;
  width: 100px;
}
.footer-image {
  width: 100px;
}
.footer-details {
  display: flex;
  flex-direction: column;
  margin-top: 0;
  line-height: 10px;
}
.footer-sm-logos {
  display: flex;
  column-gap: 8px;
  font-size: 1.2em;
}
.footer-pages {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 20%;
  line-height: 15px;
  margin-top: 42px;
  font-size: 1.2rem;
}
.footer-places {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 20%;
  line-height: 15px;
  margin-top: 42px;
  font-size: 1.2rem;
  line-height: 22px;
}
.Places {
  word-spacing: 3px;
}
.footer-img-container {
  display: flex;
  width: 32%;
  padding: 30px;
  flex-direction: column;
  align-items: start;
}
.footerimg {
  width: 23%;
  border-radius: 22px;
  margin: 10px;
  height: 70px;
}
.line-break {
  margin: 8px;
}
.copyright {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
}
footer {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 30px;
  background-color: #1d2a3a;
  color: white;
}
@media all and (max-width: 1030px) {
  .footer-img-container {
    display: none;
  }
  .footer-container {
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 10px;
  }
}
.footer-details p {
  line-height: 22px;
}
@media all and (max-width: 440px) {
  .footer-logo-name-container {
    justify-content: space-between;
    width: 100%;
  }
}



